# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Semestres\Semestre 1-2021\Seguridad de Sistemas\Proyecto\ProyectoSeguridad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
